.randomcardbody{
    background-color: darkgreen;
    min-height: 600px;
    width: 100%;
}

.randomcardbody .card{
    background-color: white;
    width: 200px;
    height: 300px;
    margin: 200px auto;
    border-radius: 25px;
}

.randomcardbody .card .cardcontent{
    position: relative;
    font-size: 60px;
    text-align: center;
    padding-top: 105px;
}

.randomcardbody .card .spade::before {
    content: '\2660';
    position: absolute;
    display: inline-block;
    color: black;
    margin-left: -65px;
    margin-top: -95px;
}

.randomcardbody .card .spade::after {
    content: '\2660';
    position: absolute;
    display: inline-block;
    color: black;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 20px;
    margin-top: 120px;
}

.randomcardbody .card .cubs::before {
    content: '\2663';
    position: absolute;
    display: inline-block;
    color: black;
    margin-left: -65px;
    margin-top: -95px;
}

.randomcardbody .card .cubs::after {
    content: '\2663';
    position: absolute;
    display: inline-block;
    color: black;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 20px;
    margin-top: 120px;
}

.randomcardbody .card .hearts::before {
    content: '\2665';
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -65px;
    margin-top: -95px;
}

.randomcardbody .card .hearts::after {
    content: '\2665';
    position: absolute;
    display: inline-block;
    color: red;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 20px;
    margin-top: 120px;
}

.randomcardbody .card .diamonds::before {
    content: '\2666';
    position: absolute;
    display: inline-block;
    color: red;
    margin-left: -65px;
    margin-top: -95px;
}

.randomcardbody .card .diamonds::after {
    content: '\2666';
    position: absolute;
    display: inline-block;
    color: red;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-left: 20px;
    margin-top: 120px;
}