/* CONFIGURACIONES GENERALES */

.bg-black {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255, 1);
}

.stdbtn{
  color: white !important;
  text-decoration: none !important;
}

.stdbtn:hover{
  color: rgb(255, 255, 255, 1);
  text-decoration: none !important;
  background-color: rgb(150, 150, 150, 1);
  padding: 10px;
  border-radius: 50px;
}

.hrsolid{
  border: 1px solid rgba(100, 100, 100, 0.5);
}

.noDecoration{
  text-decoration: none !important;
  
}

/* NAVBAR */

.navbar{
  max-height: 50px;
}

/* BLOG GENERAL */

.blog-container{
  width: 95%;
  margin: auto;
}