body{
    background-color: black;
    
}

.instagram-border{
    background-color: white;
    height: 320px;
    width: 500px;
    border: black 5px solid;
    display: block;
    margin: 50px auto;
    padding-top: 20px;
    padding-bottom: 100px;
}

.instagram-border .header {
    height: 70px;
    padding-top: 2px;
    padding-left: 15px;
}

.instagram-border .header img{
    float: right;
    width: 60px;
    height: 60px;
    padding-right: 15px;
    margin-top:-70px;
}

.instagram-border .center {
    height: 180px;
}

.instagram-border .center .left{
    width: 250px;
    height: 100%;
    padding-left: 15px;
}

.instagram-border .center .right{
    width: 250;
    height: 100%;
    margin-top: -180px;
    margin-left: -100px;
    float: right;
}

.instagram-border .center .right table{
    margin: 10px 20px;
    border-spacing: 20px;
    border-bottom: gray;
    width: 200px;
}

.instagram-border th, td { 
    border-bottom: 1px solid black;
    padding: 5px 0px 5px 0px;
  }

.instagram-border i{
    float: right;
    color: rgb(0, 144, 198);
}

.instagram-border .bottom {
    width: 500px;
}

.instagram-border .bottom button{
    margin-left: 200px;
    margin-bottom: 20px;
}