.instagram {
    margin-bottom: 100px;
}

.instagram img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    padding-top: 0px;

}

.instagram .bodyheader{
    height: 80px;    
}

.instagram .title{
    background-color: white;
    text-align: center;
    padding: 10px 50px;
}

.instagram .border{
    height: 2050px;
    width: 350px;
    margin: 0px auto;
}

.instagram .border .post{
    margin: 0px auto;
    padding: 10px;
    border: 1px solid;
    background-color: white;
}

.instagram .border .header{
    height: 8%;
    display: block;
}

.instagram .border .header .left{
    float: left;
}

.instagram .border .header .left i{
    float: left;   
    margin: 4px;
    margin-left: 6px;
}

.instagram .border .header .left span{
    float: left;
    font-size: 12px;
    display: list-item;
    margin: 5px;
}

.instagram .border .header .right{
    float: right;
}

.instagram .border .header .right i{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
}

.instagram .border .image{
    height: 50%;
}

.instagram .border .image img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    padding-top: 0px;
}

.instagram .border .inter {
    height: 8%;
    display: block;
}

.instagram .border .inter .left {
    float: left;
    margin-top: 10px;
}

.instagram .border .inter .right {
    float: right;
    margin-top: 10px;
}

.instagram .border .comments{
    height: 10%;
}

.instagram .border .comments p{
    font-size: 12px;
    text-justify: auto;
    padding: 2px;
}

